
$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$fa-font-path:   "../bower_components/components-font-awesome/fonts";
// bower:scss
@import "components-font-awesome/scss/font-awesome.scss";
// endbower

$accent-color: rgb(55, 71, 79);

body{
  user-select: none;
}

.btn.timer-button, {
  border-width: 1px;
}
.no-active-task{
  .nv-slice{
    fill:grey;
  }
}
.task-details > div{
  line-height: 53px;
}
.new-task-area{
  transition: height 0.3s linear;
  height: 0;
  overflow: hidden;
  &.is-open{
     height:470px;
  }
}

.timer-button .fa{
  font-size:50px;
}

[ng-click]{
  cursor:pointer;
}
.md-paginator {
  margin-right: 0px;
}
.md-grid .fa{
  font-size: 24px;
}
.badge{
  border-radius: 25px;
  background-color: #808080;
  padding: 2px 7px;
  font-size: .8em;
  color: #ffffff;
}
.md-toolbar-tools > div{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.align-right{
  text-align: right;
}
svg {
  width: auto;
  height: auto;
}
.md-subheader{
  md-switch{
    margin:0;
    margin-top: -6px;
  }
}
.nav-container{
  .fa{
    font-size:1.5em;
  }
  .tab-icon{
    position: relative;
    width:40px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 10px;
    .badge{
      font-size: 0.8em;
      position: absolute;
      top: 10px;
      left: 21px;
    }
  }
  .md-grid-text{
    font-size: 0.8em;
  }
}
[ng-drag] {
  cursor: move;
}
[ng-drag].dragging {
  opacity: 0.5;
  width: 100%;
  display: block;
}
[ng-drop].empty-drop-area{
  height:100px;
}
[ng-drop].drag-enter {
  border-top: solid 100px $accent-color;
}
#timerContainer{
  position: relative;
  svg{
    display: block;
    margin:auto;
  }
  .glyphicon, .fa{
    font-size:2em;
  }
  .timer-buttons{
    button{
      font-size: 2em;
      height: 70px;
      width: 70px;
    }
  }
  .timer-button{
    font-size:2em;
    position: absolute;
    top: 50%;
    margin: auto;
    margin-top: -75px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: -75px;
  }
  text-align: center;
}

.md-button-attached{
  margin-left: -5px;
}

.timer-section{
  text-align: center;
}
