<div layout="row" flex class="md-tile-content task-container">
    <div flex class="task-details">
        <span class="badge">{{task.pomos}}</span>
        <span>{{task.name}}</span>
    </div>
    <div class="task-actions md-tile-right">
        <div class="btn-group">
            <md-button  type="button"
                     ng-click="workTask(task)"
                     ng-if="notInWorkList(task)"
                     class="md-raised md-primary">Today</md-button>
            <md-button  type="button"
                     class="md-raised md-primary"
                     ng-show="inWorkList(task)"
                     ng-click="delayTask(task)">Later</md-button>
            <md-button type="button" class="md-raised md-primary md-button-attached dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </md-button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                <li><a ng-click="editTask(task)">Edit</a></li>
                <li><a ng-click="removeTask(task)">Remove</a></li>
            </ul>
        </div>
    </div>
</div>
