<div class="row">
    <div class="col-md-5 col-sm-6" ng-include="'views/newTask.html'"></div>
    <div class="col-md-7 col-sm-6">
        <div class="well task-container" ng-repeat="task in model.taskList">
            <div ng-click="editTask(task)" class="task-details">
                <div class="badge">{{task.pomos}}</div>
                {{task.name}}
            </div>
            <div class="task-actions">
                <button ng-click="removeTask(task)" class="btn btn-danger">Remove</button>
                <button ng-click="workTask(task)" class="btn btn-primary" ng-disabled="inWorkList(task)">Work</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>