<div class="row">
    <div class="col-md-5 col-sm-6">
        <ng-include src="'views/timer.html'"></ng-include>
    </div>
    <div class="col-md-7 col-sm-6">
        <div>Done in about {{timeLeft()}}</div>
        <ng-include src="'views/workItem.html'" ng-repeat="workItem in workListItems | orderBy:worklistOrder"></ng-include>
        <div class="jumbotron" ng-show="workListItems.length < 1">
            No items in your todo list, select or create ones in your <a ui-sref="tasks">inventory</a>.
        </div>
    </div>
    <div class="col-xs-12">
        <div>Completed Today: {{completedToday()}}</div>
        <div>Completed Total: {{model.totalCompleted.length}}</div>
    </div>
</div>