<md-content class="md-padding">
<form>
  <div>
    <select ng-model="model.showTag" ng-disabled="!allTags.length" ng-options="tag for tag in allTags">
      <option value="">All Tasks</option>
    </select>
    Tag Filter
  </div>
  <md-checkbox ng-model="model.strict" aria-label="Finished?">
    Strict Mode
  </md-checkbox>
  <md-input-container>
    <label> Pomo Length</label>
    <input type="number" ng-model="model.pomoLength" required ng-disabled="model.strict">
  </md-input-container>
  <md-input-container>
    <label> Short Break Length</label>
    <input type="number" ng-model="model.breakLength" required ng-disabled="model.strict">
  </md-input-container>
  <md-input-container>
    <label> Long Break Length</label>
    <input type="number" ng-model="model.longBreakLength" required ng-disabled="model.strict">
  </md-input-container>
  <md-checkbox ng-model="model.cloudEnabled" aria-label="Finished?">
    Sync Tasks
  </md-checkbox>
</form>
</form>
</md-content>
